*{
	margin:0;
	padding:0;
}

.box{
	height:500px;
	background-color:yellow;
	border:2px solid yellow;
	box-sizing:border-box;
}
ul{
	text-align:center;
	margin-top:110px;
	list-style:none;
	
}
ul:after{
	content:"";
	display:block;
	height:0;
	width:0;
	visibility:hidden;
	clear:both;
}
ul li{
	float:left;
	width:280px;
	height:280px;
	border:2px solid #fff;
	box-sizing:border-box;
	overflow:hidden;
	position:relative;
	margin-left:40px;
}
.bh{
	position:absolute;
	top:0;
	transition:all 2s;
}

.box2{
	background-color: #fff;
	height:140px;
	border:2px solid #fff;
	box-sizing:border-box;
}
ul h5{
	margin-top:30px;
}
.box3{
	width:28px;
	border-bottom:2px solid #000;
	margin:5px auto 0;
}
ul li:hover .bh{
	top:-140px;
}
